In [4]:
#floor division
a=2
b=4
print("floor division= ",a//b)

floor division=  0

In [5]:
a=3
b=4
print("add is ",a+b)
print("sub is ",a-b)
print("mul is ",a*b)
print("div is ",a/b)
print("mod is ",a%b)

add is  7
sub is  -1
mul is  12
div is  0.75
mod is  3

In [8]:
base=9
height=14
area=(base*height)
print("area of triangle= ",area)

area of triangle=  126

In [9]:
l=44
b=55
area=l*b
print("area of rec is ",area)

area of rec is  2420

In [12]:
a=1
print(bool(a))
print(float(a))
print(str(a))

True
1.0
1

In [13]:
#len function
string="ABCDEFGH"
len(string)

8

In [14]:
#accessing first character
string[0]

'A'

In [15]:
#accessing last character
string[-1]

'H'

In [19]:
string="hello"
string[0]
string[4]

'o'

In [20]:
string="archana  "
len(string)

9

In [22]:
string="archanasingh"
string[-4:]

'ingh'

In [23]:
string="archanasingh"
string[-5:]

'singh'

In [24]:
string="archanasingh"
string[5:]

'nasingh'

In [26]:
string="archanasingh"
string[0:7]

'archana'

In [27]:
string="ghijkl"
print(string)

ghijkl

In [29]:
string="khushisingh"
string[0:6]

'khushi'

In [30]:
age=18
print("i am "+ str(age) + "years old")

i am 18years old

In [31]:
#string concatination
f_n="archanasingh"
l_n="is sundar sushil"
sen= f_n + " " + l_n
print(sen)

archanasingh is sundar sushil

In [32]:
batch="5 girls 5 boys in a class"
girls=batch[ :8]
print(girls)

print(batch[8: ])

5 girls
5 boys in a class

In [34]:
statement="khushi loves pizza"
sliced_statement=statement[0:18]
print(sliced_statement)

khushi loves pizza

In [39]:
statement="khushi loves pizza"
sliced_statement=statement[-5:]
print(sliced_statement)

pizza

In [40]:
statement="khushi loves pizza"
sliced_statement=statement[-11:-6]
print(sliced_statement)

loves

In [41]:
#slicing by specifing range
nums="123456789"
even_nums=nums[1::2]
print(even_nums)

2468

In [42]:
odd_nums=nums[0::2]
print(odd_nums)

13579

In [43]:
name="khushisingh"
print(name*3)

khushisinghkhushisinghkhushisingh

In [44]:
#upper()
small="i am upper case"
print(small.upper())

I AM UPPER CASE

In [45]:
#lower()
large= "I AM LOWER CASED"
print(large.lower())

i am lower cased

In [46]:
large="hey this is khushisingh"
print(large.lower())

hey this is khushisingh

In [48]:
hi="khushi singh"
print(hi)
print(hi.rstrip())

khushi singh
khushi singh

In [49]:
increment="6%"
print(increment.rstrip("%"))

6

In [52]:
#lstrip()
s="  hey how you doing"
print(s)
print(s.lstrip())

  hey how you doing
hey how you doing

In [53]:
h=" khushi singh"
print(h)
print(h.strip())

 khushi singh
khushi singh

In [80]:
a="khushi"
b="singh"
c="loves biryani"

print("{} {} using {}".format(a,b,c))
print(a,b,c)

khushi singh using loves biryani
khushi singh loves biryani

In [57]:
b='#######55555*****'
print(b.rstrip("*").lstrip("#"))

55555

In [62]:
#countmethod()
k="myself khushi singh"
print(k.count('i'))
print(k.count('i',5))

2
2

In [76]:
age=18
my_age="khushi is {} years old".format(age)

In [77]:
my_age

'khushi is 18 years old'

In [81]:
#tuples is an ordered sequences of mixed data types tuples are written comma separed elements with partensis
t= ("disco",12,4.5)
t

('disco', 12, 4.5)

In [82]:
type(t)

tuple

In [84]:
#without using parenthesis
sample_tuple=1,2,3,4
print(sample_tuple)

(1, 2, 3, 4)

In [85]:
t1=(1)
#not a tuple

t2=(1,2)
type(t2)

In [86]:
t2=(1,)
type(t2)

tuple

In [88]:
t=("hyd",1,"jabalpur",2,3,4)
t[0:3]

('hyd', 1, 'jabalpur')

In [89]:
#concatenating tuples
tup1=("this","is","session",2)
tup2=("on","tuples")
tup3=tup1+tup2
tup3

('this', 'is', 'session', 2, 'on', 'tuples')

#sum()-min()-max()

In [90]:
t=(2,4,3,5,7)
sum(t)

21

In [91]:
t=(2,4,3,5,7)
max(t)

7

In [92]:
t=(2,4,3,5,7)
min(t)

2

In [95]:
t=("USA",4,3,"fun",7.5)

t[3]="paratha"

TypeError: 'tuple' object does not support item assignment

In [97]:
new_t=t[0:3]+("hard rock",)+t[4:]
new_t

('USA', 4, 3, 'hard rock', 7.5)

In [98]:
t=(2,3,6,4,8,5)

sorted(t)

[2, 3, 4, 5, 6, 8]

In [99]:
#nested tuples
t=(1,5,"disco",("python","java"))
t[3][1]            #0        1

'java'

In [100]:
l=["sin",23,6,"hyderabad"]
l

['sin', 23, 6, 'hyderabad']

In [105]:
l=["sin","java",[1990,2004],("newton","singh")]
l[1]="python"
print(l)

['sin', 'python', [1990, 2004], ('newton', 'singh')]

In [104]:
#extend
l=["sin","java",[1990,2004],("newtons","khushi")]
l.extend([5,8])
l

['sin', 'java', [1990, 2004], ('newtons', 'khushi'), 5, 8]

In [106]:
#append()

l=["python","java",[2002,2004],("khushi","singh")]
l.append([5,8])
l

['python', 'java', [2002, 2004], ('khushi', 'singh'), [5, 8]]

In [108]:
#del commad
l=["sin","java",[2002,2004],("khushi","singh")]
del l[0]
l

['java', [2002, 2004], ('khushi', 'singh')]

In [109]:
#pop()
l=["sin","java",[2002,2004],("khushi","singh")]
l.pop()
l

['sin', 'java', [2002, 2004]]

In [110]:
#remove()
l=["sin","java",[2002,2004],("khushi","singh")]
l.remove("java")
l

['sin', [2002, 2004], ('khushi', 'singh')]